.detail_bigdiv{
    display: flex;
    justify-content: space-between;
}
.detail_blogs{
    width: 60%;
    padding: 60px 80px;
}
.detail_writer{
    width: 32%;
    padding: 60px 40px;
}
.blog_writer_header{
    display: flex;
    justify-content: space-between;
}
.blog_writer_header_img{
    display: flex;
    align-items: flex-start;
}
.blog_writer_header_img img{
    width: 50px;
    height: 50px;
    border-radius: 100%;
}
.blog_writer_header_img div{
    padding: 0px 10px;
}
.blog_writer_header_img div p{
    font-size: 13px;
    color: gray;
    padding-top: 7px;
}
.blog_writer_header_icon ul{
    display: flex; 
    padding-top: 10px;  

}
.blog_writer_header_icon ul li{
   margin: 0px 5px;   
   color: gray;
}
.blog_detail_header{
    padding: 40px 0px;
}
.blog_detail_header h1{
    font-size: 30px;
}
.blog_detail_header p{
    color: rgb(49, 48, 48);
    line-height: 30px;
    padding: 20px 0px;
}
.blog_detail_header_img{
    text-align: center;
    padding: 10px 0px;
}

.blogs_writer_bigdiv img{
    width: 70px;
    height: 70px;
    border-radius: 100%;

}
.blogs_writer_bigdiv h3{
    padding-top: 10px;
}
.blogs_writer_bigdiv span{
    color: rgb(94, 91, 91);
}
.blogs_writer_bigdiv p{
    padding: 20px 0px;
    color: rgb(83, 83, 83);
}
.blogs_writer_btn1{
    padding: 7px 20px;
    border-radius: 20px;
    background-color:#496AEC ;
    color: white;
    border: 1px solid #496AEC;
    cursor: pointer;
}
.blogs_writer_btn2{
    background-color:#496AEC ;
    border: 1px solid #496AEC;
    color: white;
    border-radius: 100px;
    padding: 7px;
    margin-left: 6px;
    cursor: pointer;


}
.writer_header_name{
    padding: 20px 17px 30px 17px;
    font-size: 25px;
}