.detail_bigdiv{
    display: flex;
    justify-content: space-between;
}
.detail_blogs{
    width: 70%;
    padding: 60px 70px;
    position: relative;
    /* border: 1px solid black; */
}
.detail_writer{
    width: 30%;
    padding: 60px 40px;
    border-left: 1px solid rgb(165, 164, 164);
}
.blog_writer_header{
    display: flex;
    justify-content: space-between;
}
.blog_writer_header_img{
    display: flex;
    align-items: flex-start;
}
.blog_writer_header_img img{
    width: 50px;
    height: 50px;
    border-radius: 100%;
}
.blog_writer_header_img div{
    padding: 0px 10px;
}
.blog_writer_header_img div p{
    font-size: 13px;
    color: gray;
    padding-top: 7px;
}
.blog_writer_header_icon ul{
    display: flex; 
    padding-top: 10px;  

}
.blog_writer_header_icon ul li{
   margin: 0px 5px;   
   color: gray;
   cursor: pointer;
   transition: 0.5s;
}
.blog_writer_header_icon ul li:hover i{
    color: #496AEC;
    transform: scale(1.1);
}
.blog_detail_header{
    padding: 40px 0px;
}
.blog_detail_header h1{
    font-size: 30px;
}
.blog_detail_header p{
    color: rgb(49, 48, 48);
    line-height: 30px;
    padding: 20px 0px;
}
.blog_detail_header_img{
    text-align: center;
    padding: 10px 0px;
}
.blog_detail_header_img img{
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 20px;
}

.blogs_writer_bigdiv img{
    width: 70px;
    height: 70px;
    border-radius: 100%;

}
.blogs_writer_bigdiv h3{
    padding-top: 10px;
}
.blogs_writer_bigdiv span{
    color: rgb(94, 91, 91);
}
.blogs_writer_bigdiv p{
    padding: 20px 0px 5px 0px;
    color: rgb(83, 83, 83);
}
.blogs_writer_btn1{
    padding: 7px 20px;
    border-radius: 20px;
    background-color:#496AEC ;
    color: white;
    border: 1px solid #496AEC;
    cursor: pointer;
    margin-top: 20px;
}
.blogs_writer_btn2{
    background-color:#496AEC ;
    border: 1px solid #496AEC;
    color: white;
    border-radius: 100px;
    padding: 7px;
    margin-left: 6px;
    cursor: pointer;


}
.writer_header_name{
    padding: 20px 17px 30px 17px;
    font-size: 25px;
}
.follow_div{
    padding: 0px 24px;
    background-color: white;
    border: 1px solid rgba(174, 171, 171, 0.689);
    border-radius: 20px;
    position: fixed;
    bottom: 20px;
    left: 20%;
    display: flex;
    justify-content: space-between;

}
.follow_div ul{
    display: flex;
}
.follow_div ul li{
    padding: 10px;
    cursor: pointer;
}




/* Blog Profile */

.detail_writer_img h4{
    padding: 20px 8px;
}
.detail_writer_img img{
    width: 150px;
    height: 150px;
    border-radius: 100%;
    object-fit: cover;

}
.blogs_follow{
    position: absolute;
    top: 70px;
    left: 250px;
    display: none;
}
@media only screen and (max-width: 992px) {
    .detail_blogs{
       width: 100%;
       padding: 60px 30px;

    }
 .detail_writer{
    display: none;
    border: none;
 }
 .blogs_follow{
    display: block;
   }
}
@media only screen and (max-width: 700px) {
   
   
}
@media only screen and (max-width: 660px) {
   .blog_writer_header{
    flex-direction: column;
   }
   .blog_writer_header_icon{
    margin-top: 20px;
   }
   
}