.nav_big_div{
    width: 100%;
    padding: 25px 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid black;
    position: sticky;
    top: 0;
    z-index: 99;
}


.nav_big_div h1 a{
    color: black;
    font-weight: 700;
}
.nav_big_div div{
    display: flex;
    align-items: center;
}
.btn1{
    border-radius: 30px;
    background-color: black;
    padding: 10px 20px;
    font-size: 17px;
    border: 1px solid black;
    cursor: pointer;
    transition: 0.5s;
}
.btn1:hover{
    background-color: transparent;
}
.btn1 a{
    color: white;
}
.btn1:hover a{
    color: black;
}
.nav_big_div ul{
    display: flex;
}
.nav_big_div ul li {
    margin: 0px 17px;
}
.nav_big_div ul li a{
    color: black;
    font-size: 17px;
    letter-spacing: 0.05em;
}
.btn2{
    background-color: #01579B;
    color: white;
    width: 40px;
    height: 40px;
    border: 1px solid #01579B;
    border-radius: 100%;
    margin: 0px 5px;
    cursor: pointer;
}
@media only screen and (max-width: 600px) {

}

@media only screen and (min-width: 600px) {

}

@media only screen and (max-width: 768px) {
    .nav_big_div ul {
        display: none;
    }

}

@media only screen and (max-width: 992px) {
    .nav_big_div {
        padding: 40px 30px;
    }

}

@media only screen and (min-width: 1200px) {

}