.home_blogs_div_block{
    padding: 0px 80px;
    display: flex;
    justify-content: space-between;
}

@media only screen and (max-width: 992px) {
    .home_blogs_div_block{
        display: none;
        padding: 60px 30px;
    }
    .home_blogs_div_none{
        display: block;
        padding: 60px 30px;

    }
   
}