.notfound_big_div{
    width: 100%;
    height: calc(100vh - 100px);
    background-color: #FFC017;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}